{% extends 'blog/base.html' %}

{% block content %}
<div class = "about">
    <h1>About me</h1>
    <p> Hello! I am Takyon. I am currently a 2nd year Computer Science student at the University of Birmingham.
        As you might have guessed, my hobbies include reading books and playing video games, but ALSO watching/reading a LOT of reviews
        for said books and video games. I just find it fascinating, seeing different people break down, analyze and express their opinions on these pieces of art.
        When I found out that the final project for my first year at uni was to create a website and that we were ecouraged to be as creative
        as we want, my mind was a complete blank. I had no clue what I could fill my site with. But as I kept thinking about how
        I could make use of my hobbies for this project, I realized I could turn this into a review site of my own!
        After all, I really like discussing things related to books and games with my friends, but I never thought of actually
        giving my thoughts a proper form, until then. 
    </p>
    <p>
        So here it is! My reviews site, where I review games and books I have enjoyed (or not!)
        and try to keep track of them! Hope you enjoy your stay! :)
    </p>
</div>
{% endblock %}