{% extends 'blog/base.html' %}

{% block content %}
    <div class = "home">
        <h1>Welcome!</h1>
        <p>Here you will find my reviews of video games that I have played, reviews of books that I have read and
            posts about my experience as a Computer Science student! 
        </p>
        <p>
            So what types of books and games can you expect to see in my reviews? Well...
        </p>
        <p>
            My favourite genre of video games is represented by RPGs, but I also enjoyed quite a few FPS games,
            both singleplayer and multiplayer, as well as some great platformers and some games that really do not fit
            in a specific genre. 
        </p>
        <p>
            As for books, I mostly read fiction books, as I find immersion to be a really important aspect of the content
            I consumme and for me, non-fiction books are too "detached" to really keep me interested. While I usually choose
            books by how interesting they sound, not by genre, I can definitely say that historical fiction, fantasy sagas and
            psychological novels end up on my bookshelf the most.
        </p>
        <p>
            With this being said, I always try to be open-minded and experience new things, so I will keep you on your toes!
        </p>
        <h2>Enjoy! :)</h2>
    </div>
{% endblock %}