<html>
    <head>
        <title>Takyon Reviews!</title>
    </head>
    <body>
        <div>
            <h1><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Takyon Reviews!</a></h1>
            <h2>Hello there, internet traveller! Have a look. :)</h2>
        </div>

        <div>
            <h3><a href="">My first post!</a></h3>
            <p>It is empty!</p>
        </div>

        <div>
            <h3><a href="">My second post! Terrific!</a></h3>
            <p>Another empty one! How exciting!</p>
        </div>
    </body>
</html>