/*Settings for the shared page header.*/
.pageHeader {
    background-color: #1de777;
    margin-top: 0;
    padding: 1px 20px 1px 40px;
    height: 9vh;
}

/*Settings for the login menu.*/
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    font-family: "Roboto";
    margin-right: 20px;
}

.pageHeader h1, .pageHeader h1 a, .pageHeader h1 a:visited, .pageHeader h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

/*Settings for the navigation bar.*/
.menu {
    background-color: #26b370;
    height: 5vh;
}

nav {
    font-family: "Roboto";
    font-weight: 500;
    display: flex;
    justify-content: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #000000;
    text-decoration: none;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #000000;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/*Settings for the shared body of the pages.*/
body {
    background-image: url("../greenWallpaper5.jpg");
    background-repeat: repeat-y;
}

.content {
    min-height: 86vh;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    display: block;
    overflow: auto;
}

h1, h2, h3, h4 {
    font-family: "Righteous", cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

/*Settings for the "Home" page.*/
.home {
    padding: 50px 100px 50px 100px;
}

.home-headings{
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
}

.home p{
    text-indent: 50px;
    text-align: justify;

    line-height: 1.6;

    font-family: "Roboto";
    font-weight: 400;
    font-size: large;

    padding-top: 20px;
}

/*Settings for the "About" page.*/
.about {
    padding: 50px 100px 50px 100px;
}

.about h1{
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
}

.about p{
    text-indent: 50px;
    text-align: justify;

    line-height: 1.6;

    font-family: "Roboto";
    font-weight: 400;
    font-size: large;

    padding-top: 20px;
}

/*Settings for the login screen.*/
.login {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.login table {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 15px;
}

.login td{
    padding: 5px;
}
